<div>
    <header>
        <h1>{{name}}<span class="badge bg-secondary"></span></h1>
        <p>
            {{description}}
        </p>
        <em>
            {{price}}
            <br>
            {{category}}
        </em>
    </header>
    <hr>
    <main>
        <section>
            {{#with features.processor}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Processor</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{brand}} {{model}} {{speed}} {{cores}} {{cache}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
            {{#with features.memory}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Memory</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{type}} {{size}} {{speed}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
            {{#with features.storage}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Storage</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{type}} {{size}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
            {{#with features.display}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Display</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{size}} {{resolution}} {{technology}} {{color_space}}
                                            {{refresh_rate}}
                                            {{brightness}} {{refresh_rate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
            {{#with features.memory}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <b>Memory</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{type}} {{size}} {{speed}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
            {{#with features.graphics}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Graphics</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{brand}} {{model}} {{memory}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
            {{#each features.ports}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Ports</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{type}} : {{count}}
                                            <br>
                                            <p>{{features}}</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/each}}
            {{#with features.battery}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Battery</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{type}} {{capacity}} {{life}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Weight</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{features.weight}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{#with features.dimensions}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Dimensions</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{height}} {{width}} {{depth}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/with}}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>Operating system</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="badge text-bg-light">
                                            {{features.operating_system}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
            <h3>Accessories<span class="badge bg-secondary"></span></h3>
            {{#each features.accessories}}
                <ul class="list-group">
                    <li class="list-group-item">
                       <span class="badge text-bg-info">
                        {{name}}
                         <br>
                        {{price}}
                       </span>
                    </li>
                </ul>
            {{/each}}
        </div>
        </section>
    </main>
</div>